@import 'breakpoints';

hr {
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

.color-dark {
  color: #444444;
}

.font-16 {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
}

.error-message {
  color: #da272c;
  font-size: 12px;
  margin-top: -1.25em;
  padding: 5px 15px;
}

.icon-error {
  vertical-align: middle;
  zoom: 0.75;
}

.label-check {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
  & input {
    position: relative;
    opacity: 0;
    height: 0;
    width: 0;
  }
  & .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    border: 1px solid #ced4da;
    &:after {
      content: '';
      position: absolute;
      display: none;
    }
  }
  & input:checked ~ .checkmark {
    background-color: #00aacf;
    border-color: #00aacf;
  }
  & input:checked ~ .checkmark:after {
    display: block;
  }
}
/* Style the checkmark/indicator */
.label-check .checkmark:after {
  left: 5.5px;
  top: 0;
  width: 6px;
  height: 13px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.documents-sign-container {
  @media (max-width: $screen-md) {
    justify-content: center;
  }
}
