<crm-radio-group-card
  *ngIf="presenter.operations || presenter.error; else loading"
  [options]="presenter.options"
  (valueChanged)="valueChanged($event)"
></crm-radio-group-card>
<ng-template #loading>
  <claro-loading></claro-loading>
</ng-template>
<ng-container *ngIf="presenter.error">
  <label class="error-message" [class.error-message--visible]="presenter.error">
    <claro-icon name="info" class="icon-error"></claro-icon>
    {{ presenter.error.description }}
  </label>
</ng-container>
