.info-label {
  font-size: 14px;
  color: #a5a6a7;
  margin-bottom: 2px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  p {
    color: #444;
  }
}

.count-history hr {
  height: 1px;
  border: 0;
  background-color: #d4d4d4;
}

.hide {
  display: none;
} 