@import 'breakpoints';

:host {
  .container__profile {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 2em;
    box-sizing: border-box;
    .profile-card-section {
      width: 40%;
      padding: 12px;
      min-width: 276px;
      box-sizing: border-box;
      .profile-card-custom {
        width: 100%;
        max-width: 400px;
        margin: 2em 2em 0 0;
      }
    }
    .payment-card-section {
      position: relative;
      width: 60%;
      padding: 12px;
      box-sizing: border-box;
      .payments-card-content {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        .payments-card-custom {
          width: 100%;
          margin-bottom: 2em;
        }
      }
    }
    .footer {
      position: absolute;
      top: 50%;
      right: 0;
    }
  }
}

@media (max-width: $screen-lg) {
  :host {
    .container__profile {
      flex-wrap: wrap !important;
      .payment-card-section {
        width: 100% !important;
      }
      .profile-card-section {
        width: 100% !important;
      }
      .footer {
        position: relative;
        top: 0;
      }
    }
  }
}
