.table-container {
    height: 400px;
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }
  
  
  table {
    width: 100%;
  }
  
  .form-card-container {
    width: 100%;
    display: block;
    align-items: center;
    padding: 10px 10%;
    box-sizing: border-box;
  }
  
  .form-table-report{
    margin-top: 2rem;
  }
  
  .form-card-content {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .form-title-container {
      width: 100%;
      h2 {
        font-family: Roboto;
        font-size: 24px !important;
        font-weight: normal !important;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #444444;
      }
    }
    .card-content {
      width: 100%;
      .form-content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .form-section {
          width: 100%;
          .form-section-title {
            padding: 15px 0;
          }
          .form-section-content {
            display: flex;
            flex-flow: row wrap;
            .formElemet {
              width: 50%;
              padding: 0 10px;
              box-sizing: border-box;
              &.el-x2 {
                width: 66.6666666667%;
              }
            }
            .error-message {
              display: flex;
              align-items: center;
              margin-top: -3.25em;
              color: #da272c;
              font-family: Roboto;
              font-size: 12px;
              font-stretch: normal;
              font-style: normal;
              font-weight: normal;
              letter-spacing: normal;
              line-height: normal;
              margin-top: -1.25em;
              padding: 5px 15px;
              visibility: hidden;
              margin-bottom: 10px;
              &--visible {
                visibility: visible;
              }
              .icon-error {
                margin-right: 5px;
                vertical-align: middle;
                zoom: 0.75;
              }
            }
          }
        }
      }
      .form-actions {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .form-actions-reports {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }
    .notification-response {
      width: 100%;
    }
  }
  
  @media (max-width: 900px) {
    .formElemet {
      width: 50% !important;
      &.el-x2 {
        width: 100% !important;
      }
    }
  }
  @media (max-width: 600px) {
    .formElemet {
      width: 100% !important;
    }
  }
    
  @media (max-width: 900px) {
    .form-card-container {
      padding: 10px 5% !important;
    }
  }
  @media (max-width: 600px) {
    .form-card-container {
      padding: 10px 2% !important;
    }
  }